@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainBlue:#40ACF1;
  --transparentBlue:rgba(64, 172, 241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --mainGrey:rgb(216, 214, 214);
  --mainYellow:#e3b505;
}


body{
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
/*navbar*/
.navbar{
background:var(--mainWhite);
}

.navbar-icon{
  font-size:2rem;
  color:var(--mainBlue);
}

.navbar-toggler{
  outline-color:var(--mainBlue)!important;
}

.nav-link{
  color:var(--mainBlack);
  text-transform:capitalize;
}

.nav-link:hover{
  color:var(--mainBlue);
}

.nav-icon{
  font-size:1.5rem;
  color:var(--mainBlue);
  text-decoration:none !important;
  transition-property:color;
  transition-duration:2s;
  transition-timing-function:linear;
}

nav-icon:hover{
  color:var(--mainBlack);
}
/*header*/
.header{
  clip-path:polygon(0 0,100% 0,100% 95%,50% 100%,0 95%);
  color:var(--mainWhite);
  overflow:hidden;
}

.height-max{
  min-height:calc(100vh - 76px);
  background:url('../img/headerBcg.jpeg');
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  animation-name:zoom;
  animation-duration:20s;
  animation-delay:4s;
  animation-iteration-count:infinite;
}

@keyframes zoom{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.2) translateX(-5%);
  }
  100%{
    transform:scale(1);
  }
}

.title-heading{
  background:rgba(0,0,0,0.4);
  border-left:0.3rem solid var(--mainBlue);
}

.title{
  font-weight:700;
  font-size:1.9rem;
}

@media screen and (min-width:768px){
  .title{
    font-size:3rem;
  }
}

.title-icon{
  color:var(--mainBlue);
  text-decoration:none !important;
}

.title-icon:hover{
  color:var(--mainBlue);
  opacity:0.6;
}
/*section title*/
.section-title--special{
  background:var(--transparentBlue);
  color:var(--mainWhite);
  padding:0.5rem 2rem;
  clip-path:polygon(10% 0,100% 0,90% 100%,0 100%);
}
/*preloader*/
.preloader{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:var(--mainWhite);
  z-index:999;
}

.hidePreloader{
  display:none !important;
}

/*skills*/
.skills-icon{
  font-size:3rem;
  color:var(--mainYellow);
  background:var(--mainGrey);
}

.skills-icon:hover{
  color:var(--mainYellow);
}

.skills-underline{
  width:4rem;
  height:0.3rem;
  background:var(--mainBlue);
  margin:1rem auto;
}
/*inventory*/
.inventory{
  background:var(--mainGrey);
}

.car-card{
  border-radius:0!important;
}

.car-img{
  border-top-left-radius:0;
  border-top-right-radius:0;
}

.car-value{
  background:var(--mainBlue);
  color:var(--mainWhite);
  clip-path:polygon(15% 0,85% 0,100% 100%,0 100%);
}

.car-value:hover{
  background:var(--mainBlack);
  clip-path:polygon(0% 0,100% 0,100% 100%,0 100%);
}   
/*Question */
.question{
  background:url('../img/questionBcg.jpeg')center/cover fixed no-repeat;
}

.question-gray{
background:rgba(79,109,122,0.75);
}

.question-yellow{
background: rgba(277,181,5,0.75);
}

.question-icon{
font-size:4rem;
color:var(--mainBlue);
transition:all 0.5s ease-in-out;
}

.question-icon:hover{
  transform:translateY(-10%);
  color:var(--mainBlack);
}

.question-info{
  color:var(--mainWhite);
}
/*featured*/
.featured{
  background:var(--mainGrey);
}

.featured-item{
  background:var(--mainWhite);
  border-radius:0.5rem;
  opacity:0.5;
  cursor:pointer;
  transition:all 1s ease-in-out;
}

.featured-item:hover{
  opacity:1;
  transform:scale(1.05);
}

.featured-icon{
  font-size:1.5rem;
  color:var(--mainYellow);
  cursor:pointer;
  transition:all 1s ease-in-out;
}

.featured-icon:hover{
  color:var(--mainBlue);
}

.img-container{
  background:var(--mainBlue);
  position:relative;
  overflow:hidden;
}

.featured-photo{
  transition:all 1s ease-in-out;
}

.img-container:hover .featured-photo{
transform:scale(1.3);
opacity:0.5;
}

.featured-link{
  position:absolute;
  top:50%;
  left:50%;
  font-size:3rem;
  transform:translate(-50%, -50%);
  color:var(--mainBlue);
  opacity:0;
  transition:all 1s ease-in-out;
}

.featured-link:hover{
  color:var(--mainWhite);
}

.img-container:hover .featured-link{
  opacity:1;
}
/*gallery*/
.gallery-item{
  background:var(--mainYellow);
  position:relative;
  cursor:pointer;
}

.gallery-img{
  transition:all 1s ease-in-out;
}

.gallery-item:hover .gallery-img{
  opacity:0.5;
}

.gallery-item::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  outline:0.5rem solid var(--mainWhite);
  outline-offset:-2rem;
  transition:all 1s ease-in-out;
  transform:scale(0);
}

.gallery-item:hover:after{
  transform:scale(1);
}
/*contact*/
.contact{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/headerBcg.jpeg')
  center/cover fixed no-repeat;
}

.contact-input{
  font-size:1.5rem;
  text-transform:capitalize;
  background:transparent;
  border-color:var(--mainYellow);
  color:var(--mainYellow)!important;
}

.contact-input::placeholder{
  color:var(--mainYellow);
}

.contact-input:focus{
  background:transparent;
  border-color:var(--mainYellow);
}

.contact-btn{
  text-transform:uppercase;
  color:var(--mainYellow);
  border-color:var(--mainYellow);
}

.contact-btn:hover{
  background:var(--mainYellow);
  color:var(--mainBlack);
}
/*services*/
.services{
  position:relative;
  min-height:85vh;
  max-width:95vw;
  margin:0 auto;
  clip-path:polygon(0 10%,100% 0,100% 90%,0 100%);
}

.video-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-3;
}

.video-item{
  width:100%;
  height:100%;
  object-fit:cover;
}

.video-overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--transparentBlue);
  z-index:-2;
}
/*services*/
.service{
  background: var(--mainBlack);
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
}
.service:hover{
  background: var(--mainWhite);
  color: var(--mainBlack);
  padding-left: 1.2rem!important
}
.service-icon{
  font-size: 2rem;
  color: var(--mainYellow);
}
/*customer*/
.customer-card-body{
  margin-top:-4rem!important;
  color:var(--mainGrey);
}

.customer-img{
  border:0.4rem solid var(--mainWhite);
}

.customer-name{
  color:var(--mainBlue);
  margin:0.5rem;
} 

.customer-job{
  color:var(--mainYellow);
  margin:0.5rem;
}

.customer-icon{
  font-size:2rem;
  color:var(--mainGrey);
}

.customer-quote{
  max-width:90%;
}
/* footer icons */
.footer{
  background: var(--mainBlack);
  }
  .footer-icon{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--mainYellow);
    transition: all 1s ease-in-out;
  }

  .footer-icon:hover{
    color: var(--mainBlue);
  }