<!--  section title -->
<div class="row mb-5">
    <div class="col d-flex flex-wrap text-uppercase justify-content-center">
        <h1 class="font-weight-bold align-self-center mx-1">why choose</h1>
        <h1 class="section-title--special mx-1">moore car sales</h1>
    </div>
</div>
<!-- end of section title -->